.header {
    height: 15vh;
    padding: 3% 12% 3% 12% ;
    width: 100%;
}

.col-auth {
    margin-top: 8px;
}
.col_search {
    text-align: center;
}
.col-auth h3 {
    color: rgb(43, 43, 43);
    font-weight: 600;
    font-size: 18px;
}

.col-auth-icon {
    margin-left: 1em;
}